$themeClrPrimary: #0062b9;

$commonBorderRadius: 5px;

$font-family-primary: 'Poppins', sans-serif;
$clr-font-primary: #333333;
$clr-font-secondary: #555555;
$clr-bg-light: #ffffff;
$clr-bg-dark: #f9f9f9;
$clr-accent: #0062b9;

